name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Install cross
      run: cargo install cross

    - name: Build for aarch64
      run: cross build --target aarch64-unknown-linux-musl --release

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: textcraftrs-aarch64
        path: target/aarch64-unknown-linux-musl/release/*
